*
{
    margin: 0;
    padding: 0;
}
body
{
    overflow: hidden;
}
.gameContainer
{
  background-image: url("bbb.gif");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
}
.hero
{
    background-image: url("hero.png");
    background-repeat: no-repeat;
    height: 130px;
    width: 120px;
    left: 50px;
    background-size: cover;
    position: absolute;
    bottom: 0;
}
.obs
{
    background-image: url("vvv.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;
    width: 60px;
    position: absolute;
    bottom: 0;
    left: 45vw;
}
.gameOver {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    margin-top: 20px; /* Adjust the margin as needed */
    background-color: #e74c3c; /* Red background color for contrast */
    color: #ffffff; /* White text color for contrast */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
#scoreCount {
    position: fixed;
    top: 20px;
    right: 20px;
    margin: 10px; /* Adjust the margin as needed */
    background-color: #3498db; /* Blue background color */
    color: #ffffff; /* White text color for contrast */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
.animationHero
{
    animation: hero 0.6s linear;
}

.animationObs
{
    animation : animationObs 6s linear infinite;
}

@keyframes hero
{
    0%
    {
       bottom :0;
    }

    50%
    {
       bottom: 400px;
    }
    100%
    {
       bottom: 0;
    }
}

@keyframes animationObs
{

  0%
  {
      left: 100vw;
  }
  100%
  {
      left:-10vw ;
  }

}